html,
body,
div,
a,
img,
span {
  padding: 0;
  margin: 0;
}
#content {
  display: block;
  height: auto;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
#content img {
  max-height: 70px;
}
#content .word {
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 30px;
}
#content img {
  filter: #808080; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
#content img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
